.vertical-progress
	width: 3px
	height: 50%
	position: absolute
	background: white
	z-index: 0
.vertical-progress.top
	top: 0
	right: 24px
.vertical-progress.bottom
	bottom: 0
	right: 24px

.radial-progress
	position: absolute
	width: 20px
	top: calc(50% - 10px)
	right: 16px
	z-index: 1

	.circle
		position: relative
		height: 20px
		width: 20px

		&:after
			content: ""
			display: block
			position: absolute
			width: 14px
			height: 14px
			border-radius: 50%
			top: 3px
			right: 3px
	
		.mask, .fill
			position: absolute
			border-radius: 50%
			height: 20px
			width: 20px
			transition: transform 2s linear

		.mask
			clip: rect(0px, 20px, 20px, 10px)

		.fill
			background: white
			clip: rect(0px, 10px, 20px, 0px)