#asside-panel
	width: 20%
	min-width: 250px

.menu
	ul
		list-style: none
		padding: 34px 0px
		margin: 0px

		li a
			display: block
			padding: 17px 34px

			// text
			color: white
			font-weight: 400
			text-decoration: none
			text-align: right

			&:hover

#searchform
	padding: 34px

	input.search-field
		background: transparent
		color: white
		font-size: 18px
		line-height: 27px
		border: 0px
		border-radius: 0px
		border-bottom: 2px solid white
		max-width: 100%

