#asside-panel
	width: 20%
	width: 220px

.menu
	ul
		list-style: none
		padding: 34px 0px
		margin: 0px

		li a
			display: block
			padding: 12px 17px

			// text
			font-family: 'Merriweather', serif
			color: white
			font-weight: 400
			text-decoration: none
			text-align: right
			font-size: 14px
			line-height: 21px

			&:hover

#searchform
	padding: 34px

	input.search-field
		background: transparent
		color: white
		font-size: 18px
		line-height: 27px
		border: 0px
		border-radius: 0px
		border-bottom: 2px solid white
		max-width: 100%

