#content-wrap
	margin: 68px 102px
	max-width: 640px
	font-family: 'Merriweather', serif
	font-size: 18px
	line-height: 27px
	color: #111

	blockquote
		background: #EEE

#page-header
	position: relative

	.wp-post-image
		max-width: calc(640px + 2 * 102px)
		height: auto

	h1
		position: absolute
		max-width: 640px
		bottom: 0px
		left: 102px
		font-size: 102px
		font-weight: 400
		line-height: 136px